@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
    Pink World is a mobile application dedicated to raising awareness and supporting the fight against breast cancer by promoting self-examination and early detection of it, which was born from an idea by Professor Gloria Diaz from ITM and which we wanted to implement for this course as a final project.
</p>
<p>
    This disease affects 1 in 8 women according to a Globocan study. In Colombia 35% of diagnosed women die and in developed countries 11%.
</p>
<p>
    Something as simple as knowing how to explore yourself can lead to early detection of cancer, which leads to greater expectations of triumph over the disease.
</p>
<p>
    However, not all women incorporate knowledge of their own breast tissue into their routine. The application serves as a starter tutorial as well as a monthly reminder. More than 40% of cases are self-detected, so this is a really important step in the education of young women.
</p>
<p>
    La aplicación ayudará a  garantizar un correcto seguimiento de procesos que ayuden a la prevención de la enfermedad, ya que el usuario podrá registrar sus autoexámenes, exámenes de seguimiento, documentos de análisis y todo lo relacionado a su proceso de autoanálisis y tratamiento.
</p>
<p>
    In being logged in, the user will find guides and information on everything related to breast cancer in images, for example: How to perform a self-examination correctly, Information about new treatments, prevention information, etc. When you log in, you will have the possibility to fill out surveys, which allow us to use valuable information in the relevant statistical analyzes within the application, this in order not only to collect information, but also to display it and give real-time reports from all our users, in addition to giving personalized reports according to the user's responses in order to deliver a report that helps the user in a correct follow-up.
</p>
<p>
    Another functionality of our application will be the management of maps, in order to locate specialized help sites and local support groups, this in order that our users in the recovery process have the option of finding people who are passing or went through a similar situation.
</p>
<p>
    Push messages or notifications will be very useful in our application, as they will allow us to remind our users of their self-examination every 1st of the month in addition to an annual reminder to perform the relevant diagnostic tests.
</p>
<p>
    Another great functionality of our application is to allow our users to upload documents related to their diagnostic exams, self-exam reports, taking a personalized control.
</p>
<p>
    Early diagnosis continues to be an important early detection strategy, particularly in low- and middle-income countries, where the disease is diagnosed in advanced stages and resources are very limited.Our application will contribute a small grain of sand to detection. early stage of breast cancer, in the future the application may expand into new functionalities that allow the common goal that is currently being sought, the prevention and detection of breast cancer in its early stages.
</p>