@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Lina Patricia David Gonzalez </strong><br />
    Medellín, Antioquia<br />
    <strong>Phone:</strong> 313 768 0025 <br />
    <strong>Email:</strong>  <a href="mailto:linadavid212820@correo.itm.edu.co">linadavid212820@correo.itm.edu.co</a>
</address>

<address>
    <strong>David Fernando Marín Quintero</strong><br />
    Medellín, Antioquia<br />
    <strong>Phone:</strong> 310 414 0468 <br />
    <strong>Email:</strong>  <a href="mailto:davidmarin219489@correo.itm.edu.com">davidmarin219489@correo.itm.edu.co</a>
</address>

<address>
    <strong>Mateo Gómez Henao</strong><br />
    Medellín, Antioquia<br />
    <strong>Phone:</strong> 321 862 0511<br />
    <strong>Email:</strong>  <a href="mailto:mateogomez220480@correo.itm.edu.co">mateogomez220480@correo.itm.edu.co</a>
</address>
