@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/pink-world-map.png" alt="Pink Map" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p style="color:black;">
                    Breast cancer: a growing problem in Colombia
                    <a class="btn btn-default" href="https://www.cancer.gov.co/files/libros/archivos/95685f345e64aa9f0fece8a589b5acc3_BOLETIN%20HECHOS%20Y%20ACCIONES%20MAMA.PDF">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Banner-modo-rosa.png" alt="Breast Self-exam" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p style="color:black;">
                    how to do breast self-exam?
                    <a class="btn btn-default" href="https://www.youtube.com/watch?v=KvlOrrfzaQ8">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner-1.png" alt="Mental Health" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p style="color:black;">
                    Importance of mental health care processes to strengthen breast cancer treatments
                    <a class="btn btn-default" href="https://psicologiacr.com/importancia-de-los-procesos-de-atencion-en-salud-mental-para-fortalecer-los-tratamientos-de-cancer-de-mama/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
