@model PinkWorld.Web.Data.Entities.Questionnaire

<div class="form-group">
    <label asp-for="Question" class="control-label"></label>
    <textarea asp-for="Question" class="form-control" rows="5"></textarea>
    <span asp-validation-for="Question" class="text-danger"></span>
</div>