<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pink World welcomes you!</title>
</head>
<body>
    <table cellpadding="0" cellspacing="0" width="100%" role="presentation">
        <tr>
            <td align="center" style="font-size: 0px"><img class="adapt-img" src="https://localhost:44357/Templates/images/imageEmail.jpg" style="display: block" width="600" height="300" layout="responsive" /></td>
        </tr>
    </table>
    <br>
    <table width="100%" cellspacing="0" cellpadding="0" role="presentation">
        <tr>
            <td class="es-m-txt-c" align="left"><h1 style="color: #333333;line-height: 150%">Hello, {0}&nbsp; &nbsp;&nbsp;</h1></td>
        </tr>
        <tr>
            <td class="es-m-txt-c es-p10t" align="left"><p style="color: #666666">We are Very happy for your register!</p></td>
        </tr>
        <tr>
            <td class="es-m-txt-c es-p10t" align="left"><h3 style="color: #333333;line-height: 150%">Your opinion&nbsp;is&nbsp;important&nbsp;to us!</h3><p>Confirm your email in the next Button:</p></td>
        </tr>
        <tr>
            <td class="es-p20t" align="left"><span class="es-button-border" style="border-radius: 0px;border-width: 2px;background: #f4cccc;border-color: #b58a60"><a href="{1}" class="es-button" target="_blank" style="border-radius: 0px;font-style: italic;font-family: georgia, times, &quot;times new roman&quot;, serif;font-size: 16px;border-width: 5px 15px;background: #f4cccc;border-color: #f4cccc;color: #e06666">Confirm Email</a></span></td>
        </tr>
    </table>
</body>
</html>